<div id="sponsors-heading"><h2>Sponsor Love</h2></div>
<div id="sponsors">
  <%= image_tag "sponsor-line-top.png" %>
  <div class="sponsor_level">
    <ul>
      <% data.sponsors.diamond.each do |sponsor| %>
        <li><a href="<%= sponsor.link %>"><%= image_tag "sponsors/#{sponsor.logo}" %></a></li>
      <% end %>
    </ul>
    <span>Diamond Sponsors</span>
  </div>
  <div class="sponsor_level secondary hidden">
    <ul>
      <% data.sponsors.platinum.each do |sponsor| %>
        <li><a href="<%= sponsor.link %>"><%= image_tag "sponsors/#{sponsor.logo}" %></a></li>
      <% end %>
    </ul>
    <span>Platinum Sponsors</span>
  </div>
  <% if data.sponsors.gold.present? %>
      <div class="sponsor_level secondary hidden">
        <ul>
          <% data.sponsors.gold.each do |sponsor| %>
              <li><a href="<%= sponsor.link %>"><%= image_tag "sponsors/#{sponsor.logo}" %></a></li>
          <% end %>
        </ul>
        <span>Gold Sponsors</span>
      </div>
  <% end %>
  <% if data.sponsors.silver.present? %>
      <div class="sponsor_level secondary hidden">
        <ul>
          <% data.sponsors.silver.each do |sponsor| %>
              <li><a href="<%= sponsor.link %>"><%= image_tag "sponsors/#{sponsor.logo}" %></a></li>
          <% end %>
        </ul>
        <span>Silver Sponsors</span>
      </div>
  <% end %>
  <%= image_tag "sponsor-line-bottom.png" %>
  <br/>
  <a class="prospectus" href="2013_prospectus.pdf">Sponsor GoGaRuCo 2013!</a>
</div>