<div id="sponsors-heading"><h2>Sponsor Love</h2></div>
<div id="sponsors">
  <%= image_tag "sponsor-line-top.png" %>
  <div class="sponsor_level platinum">
    <ul>
      <li><a href="http://www.newrelic.com"><%= image_tag "sponsors/new_relic.png" %></a></li>
      <li><a href="http://www.tilde.io"><%= image_tag "sponsors/tilde.png" %></a></li>
      <li><a href="http://www.stormpath.com"><%= image_tag "sponsors/stormpath.png" %></a></li>
      <li><a href="http://www.carbonfive.com"><%= image_tag "sponsors/carbon_five.png" %></a></li>
    </ul>
    <span>Platinum &amp; Diamond Sponsors</span>
  </div>
  <%= image_tag "sponsor-line-bottom.png" %>
  <br/>
  <a class="prospectus" href="2013_prospectus.pdf">Sponsor GoGaRuCo 2013!</a>
</div>