<%= partial 'page_banner', locals: {title: "Event Location"} %>
<div id="location">
  <div class="row">
    <div class="large-5 columns">
      <h2>Mission Bay Conference Centre</h2>

      <p>Located just south of downtown San Francisco, and convenient to Oakland and Berkeley, the The Mission Bay
        Conference Center is a stunning and exciting new meeting and event destination located on the UCSF’s teaching
        and research campus.</p>

      <p>Designed by award-winning architect Ricardo Legorreta, the Center is a world-class conference setting with the
        latest technology and a dedicated support tem. It’s also conveniently located just steps away from the AT&T
        ballpark, shopping, hotels and entertainment venues to inspire your experience.</p>
    </div>
    <div class="large-7 columns">
      <div class="podium" style="position: relative; width: 66.66667%; float: left;">
        <%= image_tag "UFSC.jpg", width: "460px" %>
      </div>
      <div class="thumbs" style="position: relative; width: 33.33333%; float: left;">
        <div style="padding: 0 10px;">
          <%= image_tag "thumb1.jpg" %>
          <%= image_tag "thumb3.jpg" %>
          <%= image_tag "thumb5.jpg" %>
          <%= image_tag "thumb7.jpg" %>
        </div>
        <div style="padding: 0 10px;">
          <%= image_tag "thumb2.jpg" %>
          <%= image_tag "thumb4.jpg" %>
          <%= image_tag "thumb6.jpg" %>
          <%= image_tag "thumb8.jpg" %>
        </div>
      </div>
    </div>
  </div>
</div>

