<%= partial 'page_banner', locals: {title: "Event Schedule"} %>

<div id="kick-off-party">
  <div class="row">
    <div class="large-9 columns large-centered">
      <div id="kick-off-party-info" class="row">
        <div class="large-5 columns">
          <strong><span style="font-size: 46px;">Kickoff</span><br/>
            <span style="font-size: 59px;">Party</span></strong>
        </div>
        <div class="large-2 columns">
          <%= image_tag "beer.png" %>
        </div>
        <div class="large-5 columns event-details">
          <span style="font-size: 16px;">Hosted&nbsp;by&nbsp;<strong>LivingSocial</strong></span>
          <%= image_tag "diagonal-lines.png" %>
          <span style="font-size: 19px; padding-top: 7px;"><strong>Thursday&nbsp;|&nbsp;13&nbsp;Sep</strong></span>
          <span style="font-size: 26px;">6:30PM&nbsp;'Til&nbsp;late</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="daily-sessions-header">
  <h2>Daily Sessions</h2>
</div>

<div id="daily-sessions">
  <div class="row">
    <div class="large-12 columns">
      <table>
        <thead>
            <tr>
              <th>Time</th>
              <th>Friday, Sep 14<sup>th</sup></th>
              <th>Saturday, Sep 15<sup>th</sup></th>
            </tr>
        </thead>
        <tbody>
        <tr class="food">
          <td>8:30-9:30am</td>
          <td><span class="name">Registration and Continental Breakfast</span><br/><span class="byline">Presented by </span><span class="note">New Relic</span></td>
          <td><span class="name">Registration and Continental Breakfast</span><br/><span class="byline">Presented by </span><span class="note">New Relic</span></td>
        </tr>
        <tr class="other">
          <td>9:30-9:45am</td>
          <td><span class="name">Announcements & Party Recovery</span></td>
          <td><span class="name">Announcements & Party Recovery</span></td>
        </tr>
        <tr>
          <td>9:45-10:15am</td>
          <td><span class="name">People Patterns</span><br/><span class="byline">by </span><span class="speaker">Joe O'Brien</span></td>
          <td><span class="name">Code for Joy</span><br/><span class="byline">by </span><span class="speaker">Avdi Grimm</span></td>
        </tr>
        <tr>
          <td>10:30-11:00am</td>
          <td><span class="name">People Patterns</span><br/><span class="byline">by </span><span class="speaker">Joe O'Brien</span></td>
          <td><span class="name">Code for Joy</span><br/><span class="byline">by </span><span class="speaker">Avdi Grimm</span></td>
        </tr>
        <tr>
          <td>11:15-11:45am</td>
          <td><span class="name">People Patterns</span><br/><span class="byline">by </span><span class="speaker">Joe O'Brien</span></td>
          <td><span class="name">Code for Joy</span><br/><span class="byline">by </span><span class="speaker">Avdi Grimm</span></td>
        </tr>
        <tr class="food">
          <td>11:15-11:45am</td>
          <td><span class="name">Lunch</span></td>
          <td><span class="name">Lunch</span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="schedule-descriptions-header">
  <h2>Descriptions</h2>
</div>

<div id="schedule-descriptions">
  <% data.speakers.sorted.each_slice(2) do |row| %>
      <div class="row">
        <% row.each do |speaker| %>
            <div class="large-6 columns">
              <div class="large-4 columns">
                <%= image_tag "speakers/#{speaker.slug}.jpg", class: "speaker-image" %>
              </div>
              <div class="large-8 columns">
            <span class="speaker-name">
              <a href="https://twitter.com/<%= speaker.twitter %>" class="image_link">
                <%= image_tag 'twitter_icon.png' %>
              </a>
              <%= speaker.name %>
            </span>
                <!-- | view talk -->
                <div class="speaker-bio">
                  <%= speaker.bio %>
                </div>
              </div>
              <div class="speaker-details"></div>
            </div>
        <% end %>
      </div>
  <% end %>
</div>

<%= partial 'sponsors' %>
<%= partial 'robot_footer' %>
